html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

body {
    background-color: #cac4c4;
}

header {
    width: 100%;
    height: 45px;

}

main {
    margin-top: 40px;
}



#controls {
    text-align: center;

}

#controls {
    margin: 5px;
    color: white;
    border-radius: 5px;
    transition: opacity 0.25s;
    padding: 10px;
}

#restart {
    width: 80px;
    background-color: #81b64c;
    border-radius: 5px;
    border: none;
    height: 40px;
    margin-top: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#undo {
    background-color: #81b64c;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.Undo {
    color: white;
    font-size: 20px;
    transform: rotate(300deg);
}

.res {
    color: white;
    font-size: 20px;
    transform: rotate(300deg);
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 7;
    background-color: #81b64c;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.closeNav {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #f1f1f1;
    padding: 10px 10px;
    border-radius: 9px;
    border: 0;
    margin-top: 70%;
    margin-left: 5px;
}

.openNav {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: #f1f1f1;
    padding: 10px 15px;
    border-radius: 9px;
    visibility: visible;
}

.sidebar a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(23, 234, 122);
    background-color: #f1f1f1;
    margin: 0 15px 15px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.openbtn:hover {
    background-color: #444;
    opacity: 0.5;
}

#main {
    transition: margin-left 0.5s;

}

.openbtn {
    font-size: 150%;
    background-color: #ffffff;
    cursor: pointer;
    color: black;
    border: none;
    margin-left: 10px;
}

.openbtn:hover {
    background-color: #444;
}

.img {
    max-width: 30px;
    height: 30px;
    margin-left: 100px;

}

.logo a {
    display: flex;
    align-items: center;
    
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding-right: 20px;
    border-radius: 2px;

}


.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding: 0px;
}

.nav-links a {
    color: #474444;
    text-decoration: none;
    font-size: 16px;
    text-align: right;
    font-weight: 500;
    /* text-shadow: 1px 1px 2px #9b9696; */
    padding: 10px 10px;
    border-radius: 8px;
}

.nav-links a:hover {
    color: #e1e1e1;
    background-color: #9e9e9e
}

#support {
    background-color: black;
    color: white;
    opacity: 0.8;
    font-weight: 500;
}

#support:hover {
    background-color: #474444;
    color: #d4d2d2;

}