html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

body {
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    background: linear-gradient(to right, #ffffff, #abbaab);
    margin: 0px;
}

header {
    width: 100%;
    height: 45px;

}

main {
    margin-top: 40px;
}

.controls {
    width: 100%;
    height: 50px;
    color: #0eb644;
    transition: opacity 0.25s;
    border: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    gap: 20px;
    transform: translateX(-20px);
}


#undo,
#restart {
    width: 60px;
    height: 40px;
    background-color: #81b64c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

#undo:hover,
#restart:hover {
    background-color: #4B6E47;
    transform: scale(1.1);
}

.res,
.un,
.menu {
    max-width: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 10px;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #7d7d7d);
    background: linear-gradient(to right, #2c3e50, #7d7d7d);  
    opacity: 0.5;
}

.closeNav {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #f1f1f1;
    padding: 10px 10px;
    border-radius: 9px;
    border: 0;
    margin-top: 70%;
    margin-left: 5px;
}

.openNav {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: #f1f1f1;
    padding: 10px 15px;
    border-radius: 9px;
    visibility: visible;


}

.sidebar.active {
    left: 0;
}

#main.shifted {
    margin-left: 250px;
}

.sidebar a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    font-size: 1.6em;
    font-weight: bold;
    color: #8ff273;
    background-color: #b6a192;
    margin: 0 15px 15px 15px;
    border-radius: 8px;
    text-decoration: none;
}

#main {
    transition: margin-left 0.5s;
    padding: auto;
}

.openbtn {
    font-size: 150%;
    background-color: #ffffff;
    cursor: pointer;
    color: black;
    border: none;
    margin-left: 10px;
    transition: transform 0.2s;
    text-shadow: #474444;
}

.openbtn:hover {
    transform: scale(1.1);
}

.img {
    max-width: 30px;
    height: 30px;
    margin-left: 100px;

}

.logo a {
    display: flex;
    align-items: center;

}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
    border-radius: 2px;
    background: #4ECDC4;
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);
    background: linear-gradient(to left, #556270, #4ECDC4);
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding: 0px;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    text-align: right;
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    color: #1ABC9C;
    ;
    background-color: #2E4053;
}

#support {
    background-color: #1ABC9C;
    color: white;
    opacity: 0.8;
    font-weight: 500;
}

#support:hover {
    background-color: #16A085;
    color: #f1f1f1;

}