html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

body {
    background-image: url(https://i.pinimg.com/564x/aa/26/b8/aa26b84de95051ade9a2f9aead6f0eae.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
   

}

header {
    width: 100%;
    height: 35px;
}

a {
    color: white;
    text-decoration: none;
}

#controls {
    text-align: center;

}

#controls {
    margin: 5px;
    color: white;
    border-radius: 5px;
    transition: opacity 0.25s;
    padding: 10px;
}

#restart {
    width: 80px;
    background-color: #81b64c;
    border-radius: 5px;
    border: none;
    height: 40px;
    margin-top: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#undo {
    background-color: #81b64c;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.Undo {
    color: white;
    font-size: 20px;
    transform: rotate(300deg);
}

.res {
    color: white;
    font-size: 20px;
    transform: rotate(300deg);
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #81b64c;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.closeNav {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #f1f1f1;
    padding: 10px 10px;
    border-radius: 9px;
    border: 0;
    margin-top: 70%;
    margin-left: 5px;
}

.openNav {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: #f1f1f1;
    padding: 10px 15px;
    border-radius: 9px;
    border: none;
    visibility: visible;
}
.sidebar a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(23, 234, 122);
    background-color: #f1f1f1;
    margin: 0 15px 15px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}