/*=========== TABLE OF CONTENTS ===========
1. CSS Variables
2. Utility CSS
==========================================*/

/*-------------------------------------
  1. CSS Variables
--------------------------------------*/
:root {
  /*------Color variables------*/
  --black_900: #050505;
  --black_900_01: #060606;
  --black_900_02: #000000;
  --gray_400: #c9c3c3;
  --white_a700: #ffffff;

  /*------Border radius variables------*/
  --radius-xs: 10px;
  --radius-sm: 22px;
}

/*-------------------------------------
  2. Utility CSS
--------------------------------------*/
.flex-row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rowmenu li:hover{
  color: aquamarine;
}